.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
}

.question-panel {
    width: 450px;
    padding: 20px 30px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 25px;
}

.question-panel a {
    color: black;
    margin: 10px;
}

.question-panel .dropdown{
    min-width: 30px;
    padding: 15px;
    margin: 5px;
    color: grey;
}

.question-panel #SubRegion {
    width: 67%;
}

.question-panel #Question {
    background: black;
    color: white;
    width: 87%;
}

.question-panel #Region {
    width: 65%;
}

.question-panel #Last {
    width: 30%;
}

.question-panel #Date {
    width: 30%;
}

#submit {
    position: absolute;
    top: 75%;
    width: 100%;
    justify-items: center;
    text-align: center;
}

#submit button {
    padding: 20px;
    border-radius: 10px;
    background: #990001;
    border: none;
    color: white;
    font-size: 20px;
}